@import '~materialize-css/dist/css/materialize.min.css';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 1 100%;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block_center {
  margin-left: auto;
  margin-right: auto;
}

.input-field input[type='text']:focus + label {
  color: #5e35b1 !important;
}
.input-field input[type='text']:focus {
  border-bottom: 1px solid #5e35b1 !important;
  box-shadow: 0 1px 0 0 #5e35b1 !important;
}
